<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrar's Office Class Search</title>
    </head>
    <body>
        <h1>Registrar's Office</h1>
        {% if result.error %}
            <p>{{ result.error }}</p>
        {% else %}
        <hr>
            <h2>Class Details</h2>
            <table id = "classDetailsTable" border = "1">
                <tbody>
                    <tr>
                        <td>
                            <strong>Class Id</strong>
                        </td> 
                        <td>{{ result.classid }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Days</strong>
                        </td> 
                        <td>{{ result.days }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Start time</strong>
                        </td> 
                        <td>{{ result.starttime }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>End time</strong>
                        </td> 
                        <td>{{ result.endtime}}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Building</strong>
                        </td> 
                        <td>{{ result.building }}</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Room</strong>
                        </td> 
                        <td>{{ result.room }}</td>
                    </tr>
                </tbody>
            </table>
        
            <h2>Course Details</h2>
            <table id = "courseDetailsTable" border = "1">
                <thead>
                    <tr>
                        <td class = "label">
                            <strong> Course Id</strong>
                        </td>
                        <td>{{ result.courseid }}</td>
                    </tr>
                    {% for dept in result.departments %}
                    <tr>
                        <td class = "label">
                            <strong> Dept and Number</strong>
                        </td>
                        <td>
                            {{ dept.dept }} {{ dept.coursenum }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class = "label">
                            <strong> Area </strong>
                        </td>
                        <td>{{ result.area }}</td>
                    </tr>
                    <tr>
                        <td class = "label">
                            <strong> Title </strong>
                        </td>
                        <td>{{ result.title }}</td>
                    </tr>        
                    <tr>
                        <td class = "label">
                            <strong> Description </strong>
                        </td>
                        <td>{{ result.description }}</td>
                    </tr>
                    <tr>
                        <td class = "label">
                            <strong> Prerequisites </strong>
                        </td>
                        <td>{{ result.prerequisites }}</td>
                    </tr> 
                    {% for prof in result.professors %}
                    <tr>
                        <td class = "label">
                            <strong> Professor </strong>
                        </td>
                        <td>
                            {{ prof }}
                        </td>
                    </tr>
                    {% endfor %}
                </thead>
                <tbody>
                </tbody>
            </table>
            <br>
            <hr>
            Click here to do
            
            <a href = "/?dept={{dept}}&coursenum={{coursenum}}&area={{area}}&title={{title}}">
                another class search 
            </a>
        {% endif %}
        <hr>
        Created by Amanda Chan and Arnold Jiang.
        <hr>
    </body>
</html>